.top-catalog{
  background-image: url(./img/catalog_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  flex-direction: column;

  .top_catalog__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 77px;
    align-items: center;
    border-bottom: 1px solid white;
  }

  .top_catalog__search {
    width: 288px;
    height: 41px;
    background-color: transparent;
    border: 1px solid $main-color;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $main-color;
    padding-left: 32px;
    padding-right: 32px;
    text-align: left;
    outline: none;
  
    &::placeholder {
      color: $main-color;
    }
  }

  .top_catalog__nav{
    display: flex;
    gap: 32px;
  }
  
  .top_catalog__links {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $main-color;

    &:hover {
      text-decoration: underline;
    }
  }

  .top_catalog__title{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: $main-color;
    padding-top: 127px;
  }
}

.catalog{
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  align-items: center;
}

.catalog__links{
  display: flex;
  gap: 20px;
  width: 288px;
}

// .catalog__dash{
//   background-image: url(./img/catalog_dash.png);
// }

.catalog__select-opt{
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  background-color: transparent;
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  padding-left: 14px;
  padding-right: 14px;
}

.catalog-for{
  padding-top: 40px;
}

