@import 'main_styles';



.top {
  background-image: url(./img/background_img.jpg);
  height: 735px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 77px;
    align-items: center;
  }

  &__search {
    width: 288px;
    height: 41px;
    background-color: transparent;
    border: 1px solid $main-color;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $main-color;
    padding-left: 32px;
    padding-right: 32px;
    text-align: left;
    outline: none;

    &::placeholder {
      color: $main-color;
    }
  }

  &__nav {
    display: flex;
    gap: 32px;
  }
  
  &__links {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $main-color;

    &:hover {
      text-decoration: underline;
    }
  }
    
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  &__title {
    margin-top: 64px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: $main-color;
  }
  
  &__motto {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: $main-color;
  }
  
  &__content_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: $main-color;
  }
}

.for {
  padding-top: 64px;

  &__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  &__content {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 32px;
  }
  
  &__item {
    height: 415px;
    grid-column: span 4;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-color;
  }
  
  &__item_big {
    grid-column: span 6;
  }
  
  &__item1 {
    background-image: url(./img/item-1.jpg);
  }
  
  &__item2 {
    background-image: url(./img/item-2.jpg);
  }
  
  &__item3 {
    background-image: url(./img/item-3.jpg);
  }
  
  &__item4 {
    background-image: url(./img/item-4.jpg);
  }
  
  &__item5 {
    background-image: url(./img/item-5.jpg);
  }
}

.product-box {
  padding-top: 64px;

  &__content {
    padding-top: 22px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  
  &__product {
    display: flex;
    flex-direction: column;
    width: 378px;
  }
  
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #000000;
  }
  
  &__heading {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 9px;
  }
  
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    padding-bottom: 12px;
  }
  
  &__prices {
    display: flex;
    gap: 32px;
  }
  
  &__price {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
  }
  
  &__price-sale {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
  }
  
  &__link {
    padding-top: 39px;
    padding-bottom: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
  }
}

.footer {
  background-color: #F7F6F6;
  ;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__content {
    width: 792px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  &__info {
    display: flex;
    gap: 129px;
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;

    &:hover {
      text-decoration: underline;
    }
  }
  
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  &__icons {
    display: flex;
    gap: 20px;
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  
  &__text {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    font-family: 'Roboto';
  }
  
  &__email {
    background: $main-color;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    width: 275px;
    height: 46px;
    box-sizing: border-box;

    &::placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #C4C4C4;
      outline: none;
    }
  }  
  
  &__button {
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid $main-color;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
  }
}

